@import './shared/fonts';
@import './shared/colors';
@import './shared/mixins';

// pages
@import './index';
@import './shared/portfolios';
@import './shared/blogs';
@import './shared/about';
@import './shared/cv';

html, body {
   height:100%;
   width:100%;
   font-family: 'Montserrat';
    
}
 
 .self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
 }

 